.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}
.todoItems {
    font-size: 25px;
    list-style-type: none;
}
.inputStyle {
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
.buttonStyle {
    height: 50px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 20px;
    box-sizing: border-box;
}
